@inherits LayoutComponentBase
@inject IAuthService AuthenticationService
@inject NavigationManager NavigationManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    bool _drawerOpen = true;

    private string searchValue;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task<IEnumerable<string>> Search2(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, don't return values (drop-down will not open)
        if (string.IsNullOrEmpty(value))
            return new string[0];


        return new[] { "hi", "elo", "Nie" };
    }
}


